<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <fieldset style="width: 33%; display: block; margin: auto">
      <legend>Create Product</legend>
      <form action="" method="post" enctype="multipart/form-data">
        <div style="margin-bottom: 15px">
          <input type="text" name="label" placeholder="Label" />
        </div>
        <div style="margin-bottom: 15px">
          <input type="number" name="price" placeholder="Price" />
        </div>
        <div style="margin-bottom: 15px">
          <input type="number" name="quantity" placeholder="Quqntity" />
        </div>
        <div style="margin-bottom: 15px">
          <input type="text" name="user" placeholder="User" />
        </div>
        <div style="margin-bottom: 15px">
          <input type="file" name="image" />
        </div>
        <div style="margin-bottom: 15px">
          <input type="submit" value="submit" style="float: right" />
        </div>
      </form>
    </fieldset>
  </body>
</html>
