<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List events</title>
</head>

<body>
    <a href="/event/add"> Create event </a>
    <table border="1" style="width: 33%; display: block; margin: auto;">
        <thead>
            <th> title </th>
            <th> Start </th>
            <th> End </th>
            <th> Delete </th>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td> {{ event.title }} </td>
                <td> {{ event.startDate }} </td>
                <td> {{ event.endDate }} </td>
                <td> <a href="/event/delete/{{ event.id }}">Delete</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>